/* Clobal styles */
*,
*::before,
*::after {
box-sizing: border-box;
}
/* Base styles */
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	color: #2c2825;
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: -0.025em;
	background-color: #fff;
	margin: 0;
}
a {
	color: #2c2825;
	text-decoration: none;
	cursor: pointer;
	transition: opacity 0.3s;
}
a:hover {
	opacity: 0.8;
}
img {
	max-width: 100%;
	display: block;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
/* Accessibility / Utilities */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	white-space: nowrap;
	border: 0;
  }
 /* Layout */
 .container {
	max-width: 1280px;
	margin: 0 auto;
	padding-inline: 40px;
}
.inner {
	padding-inline: 40px;
}
/* Reusable components */
.button {
	display: inline-flex;
	gap: 10px;
	padding: 8px 12px 6px;
	background-color: #ffc800;
	border-radius: 4px;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
.button::before {
	display: inline-block;
	margin-top: 6.5px;
	content: "";
	width: 4px;
	height: 4px;
	background-color: #2C2825;
	border-radius: 50%;
}
/* Header */
.main-header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: #fff;
}
.main-header .container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 27px;
}
.main-header .container::after {
	position: absolute;
	bottom: 0;
	content: "";
	background-color: #2b1313;
	width: calc(100% - 80px);
	height: 1px;
}
.main-header__logo {
	font-family: "Caprasimo", serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 0.92;
	letter-spacing: -0.03em;
}
.main-header__list {
	display: flex;
	gap: 40px;
}
.main-header__link {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
/* Hero */
.hero {
	margin-top: 150px;
}
.hero__container {
	margin-bottom: 120px;
}
.hero__title {
	margin-block: 0 44px;
}
.hero__background {
	position: relative;
	width: 100%;
	height: 570px;
	background-image: url(../img/decor/floral-accent-01.jpg);
	background-size: cover;
	background-position: center 29%;
	background-repeat: no-repeat;
	border-radius: 30px;
}
.hero__sticker {
	display: flex;
	justify-content: center;
	width: 188px;
	height: 188px;
	background-image: url(../img/decor/sticker-badge.svg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 22.5px;
	bottom: 22.5px;
}
.hero__sticker-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 9px;
	text-align: center;
}
.hero__sticker-content p {
	max-width: 140px;
	color: #000000;
	margin: 0;
}
.hero__sticker-label {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
.hero__sticker-text {
	font-weight: 500;
	font-size: 24px;
	letter-spacing: -0.01em;
}
.hero__sticker-note {
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
/* Promo */
.promo {
	padding-block: 120px;
}
.promo--spacious {
	padding-block: 200px;
}
.promo__inner {
	max-width: 740px;
	margin: 0 auto;
	text-align: center;
}
.promo__title {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #575757;
	margin-block: 0 20px;
}
.promo__text {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.1;
	letter-spacing: -0.025em;
	color: #171615;	
	margin-block: 0 40px;
}
/* Showcase */
.showcase {
	overflow: hidden;
  }
.showcase__list {
	display: flex;
	gap: 20px;
	padding-bottom: 75px;
	overflow-x: auto;
}
.showcase__item {
	width: 300px;
	height: 300px;
	border-radius: 30px;
	overflow: hidden;
	flex-shrink: 0; 
}
.showcase__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* Services */
.services__heading {
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #595959;
}
.section-title {
	font-weight: 700;
	font-size: 50px;
	line-height: 1.1;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #171615;
}
.services__title {
	margin-block: 0 40px;
}
.services__description {
	margin-block: 0 20px;
}
.services__list {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 100px 40px;
	align-items: center;
	counter-reset: my-counter;
}
.services__item {
	display: flex;
	flex-direction: column;
	gap: 80px;
	width: 100%;
	align-items: center;
	text-align: center;
	padding-block: 0 80px;
	border-bottom: 1px solid #595959;
}
.services__item::before {
	content: counter(my-counter);
	counter-increment: my-counter;
	font-weight: 700;
	font-size: 50px;
	line-height: 1.1;
	letter-spacing: -0.02em;
	color: #171615;
	order: -2;
}
.services__item-content {
	width: 100%;
}
.services__item-title {
	margin-block: 0 30px;
}
.services__item-description {
	max-width: 540px;
	margin: 0 auto;
}
.services__item-image {
	width: 145px;
	height: 145px;
	border-radius: 30px;
	object-fit: cover;
	order: -1;
}
.services__item-image--short {
	height: 140px;
}
.services__item-image--small-radius {
	border-radius: 15px;
}
.services__item-media  {
	position: relative;
	border-radius: 30px;
	overflow: hidden;
	order: -1;
}
.services__item-media--overlay::before {
	content: "";
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}  
/* Visual Divider */
.visual-divider__image {
	height: 751px;
	background-image: url(../img/decor/floral-accent-02.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 30px;
}
/* Footer */
.main-footer {
	font-size: 24px;
	letter-spacing: -0.01em;
	color: #F7F7F7;
}
.main-footer a {
	color: inherit;
}
.main-footer__background {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #3c3804 100%), url(../img/decor/floral-accent-03.jpg);
	height: 582px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 30px 30px 0px 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.main-footer__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	margin: 0 30px 20px;
}
.main-footer__logo {
	font-family: "Caprasimo", serif;
	font-size: 117px;
	line-height: 0.92;
	letter-spacing: -0.03em;
}
.main-footer__info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-footer__location {
	margin: 0;
}
/* Tablet */
@media (max-width: 800px) {
	.main-header .container {
		padding-block: 28px;
	}
	.main-header__logo {
		font-size: 28px;
}
	.hero__background {
		background-position: center;
}
	.hero__sticker-text {
		font-size: 22px;
}
	.promo__inner {
		max-width: 412px;
}
	.promo__text {
		font-size: 36px;
}
	.showcase__list {
		padding-left: 20px;
}
	.section-title {
		font-size: 45px;
}
	.services__description {
		font-size: 16px;
}
	.services__item::before {
		font-size: 45px;
}
	.visual-divider__image {
		height: 450px;
}
	.promo--spacious {
		padding-block: 150px;
}
	.main-footer__background {
		height: 579px;
}
	.main-footer__location {
		font-size: 22px;
}
	.main-footer__contact {
		font-size: 22px;
}
}