/* Clobal styles */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Base styles */
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	color: #2c2825;
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: -0.025em;
	background-color: #fff;
	margin: 0;
}
a {
	color: #2c2825;
	text-decoration: none;
	cursor: pointer;
	transition: opacity 0.3s;
}
a:hover {
	opacity: 0.8;
}
img {
	max-width: 100%;
	display: block;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
 /* Layout */
 .container {
	max-width: 1280px;
	margin: 0 auto;
	padding-inline: 40px;
}
.inner {
	padding-inline: 40px;
}
/* Reusable components */
.button {
	display: inline-flex;
	gap: 10px;
	padding: 8px 12px 6px;
	background-color: #ffc800;
	border-radius: 4px;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
.button::before {
	display: inline-block;
	margin-top: 6.5px;
	content: "";
	width: 4px;
	height: 4px;
	background-color: #2C2825;
	border-radius: 50%;
}
/* Header */
.main-header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: #fff;
}
.main-header .container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 27px;
}
.main-header .container::after {
	position: absolute;
	bottom: 0;
	content: "";
	background-color: #2b1313;
	width: calc(100% - 80px);
	height: 1px;
}
.main-header__logo {
	font-family: "Caprasimo", serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 0.92;
	letter-spacing: -0.03em;
}
.main-header__list {
	display: flex;
	gap: 40px;
}
.main-header__link {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
/* Hero */
.hero {
	margin-top: 150px;
}
.hero__container {
	margin-bottom: 120px;
}
.hero__title {
	margin-block: 0 44px;
}
.hero__background {
	position: relative;
	width: 100%;
	height: 570px;
	background-image: url(../img/decor/floral-accent-01.jpg);
	background-size: cover;
	background-position: center 29%;
	background-repeat: no-repeat;
	border-radius: 30px;
	transition: background-position 0.4s ease;
}
.hero__sticker {
	display: flex;
	justify-content: center;
	width: 188px;
	height: 188px;
	background-image: url(../img/decor/sticker-badge.svg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 22.5px;
	bottom: 22.5px;
}
.hero__sticker-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 9px;
	text-align: center;
}
.hero__sticker-content p {
	max-width: 140px;
	color: #000000;
	margin: 0;
}
.hero__sticker-label {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
.hero__sticker-text {
	font-weight: 500;
	font-size: 24px;
	letter-spacing: -0.01em;
}
.hero__sticker-note {
	font-size: 12px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
/* Promo */
.promo {
	padding-block: 120px;
}
.promo__inner {
	max-width: 740px;
	margin: 0 auto;
	text-align: center;
}
.promo__title {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #575757;
	margin-block: 0 20px;
}
.promo__text {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.1;
	letter-spacing: -0.025em;
	color: #171615;	
	margin-block: 0 40px;
}