/* ОБЩИЕ СТИЛИ */
*,
*::before,
*::after {
 	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
 }
body {
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	color: #2c2825;
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: -0.025em;
	background-color: #fff;
	margin: 0;
}
a {
	color: #2c2825;
	text-decoration: none;
	cursor: pointer;
	transition: opacity 0.3s;
}
a:hover {
	opacity: 0.8;
}
img {
	max-width: 100%;
	display: block;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
} 
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding-inline: 40px;
}
/* Хедер */
.main-header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: #fff;
}
.main-header .container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 27px;
}
.main-header .container::after {
	position: absolute;
	bottom: 0;
	content: "";
	background-color: #2b1313;
	width: calc(100% - 80px);
	height: 1px;
}
.main-header__logo {
	font-family: "Caprasimo", serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 0.92;
	letter-spacing: -0.03em;
}
.main-header__list {
	display: flex;
	gap: 40px;
}
.main-header__link {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}